div.container {
	width: 960px;
	margin: 0px 0px 0px 20px;
}

div.sectionA {
	width: 650px;
	height: 300px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin: 20px 0px;
	padding: 20px 20px 20px 20px;
	float: left;

}

div.sectionB {
	width: 650px;
	height: 300px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	margin: 20px 0px;
	padding: 20px 20px 200px 20px;
	float: left;

}

img.floatLeft {
	float: left;
	width: 200px;
	margin-right: 15px;
	border: 1px solid #dddddd;
}

img.socialSize {
	width: 70px;
	margin-top: 20px;
}

p.content {
	width: 650px;
	margin-right: 20px;
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	color: #777777;
}

p.footerTxt {
	color: #cccccc;
}

h1.header {
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 28px;
	color: white; 
	background-color: #4aaaa5; 
	width: 266px; 
	padding: 10px 10px 30px 10px; 
	margin: 0px; 

}

h1.pageTitle {
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 28px;
	color: #4aaaa5;
	margin-left: 0px;
	padding-bottom: 10px;
	border-bottom: 2px solid #dddddd;
}

h2 {
	font-family: "Georgia", Times, Times New Roman, serif;
	font-size: 24px;
	color: #4aaaa5;
	padding: 0px;
	margin: 20px 0px 20px 0px;
}

hr {
    display: block;
    height: 1px;
    width: 80%;
    border: 0;
    border-top: 1px solid #dddddd;
    background-color: #dddddd;
    margin: auto;
    padding: 0; 
}

header.navHeader {
	width: 100%;
	border-bottom: 1px solid #cccccc;
}

footer.sizeAdj {
	width: 100%;
	padding: 10px;
}

body {
	background-image: url(../images/cloth.png);
	margin: 0px;
}

header {
	background-color: #ffffff;
	padding: 20px 0px 0px 20px;
}

footer {
	clear: both;
	text-align: center;
	background-color: #666666;
	border-top: 4px solid #4aaaa5;
}

nav {
    float: right;
    margin-top: -60px;
    padding: 0px;
}
   
a {
    text-decoration: none;
    color: #777777;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

a.nav {
	margin: 0px 10px;
}

a:hover {
	color: black;
}

a:active {
    color: black;
}

aside {
    display: block;
    width: 270px;
    background-color: white;
    text-align: center;
    float: right;
    padding-bottom: 10px;
    overflow: hidden;
    margin-right: -20px;
    margin-top: 20px;
    border: 1px solid #dddddd;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

input[type=submit] {
    width: 25%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #0099cc;
}
